VERCEL_PROJECT_ID="prj_Syq8pS1DqCYcorTzmQZUmL3Y2QJ6"
VERCEL_ACCESS_TOKEN="vcp_1hPh1qzjUNzJqrIHf3vbj34100MPmU4Nzz0YnrIDjxRD7uTvm53u203B"
GITHUB_CLIENT_ID="Ov23lirhGrxNuy13xCh7"
GITHUB_CLIENT_SECRET="f6ec4ed40e98e0ec8347b62a11524ae5ed7496ef"

PUBLIC_SUPABASE_URL="https://boguvusudhusqvwhgywu.supabase.co"
PUBLIC_SUPABASE_ANON_KEY="sb_publishable_l4JITSprYoWVR718qb0aXA_eTk8eVSz"
SUPABASE_URL="https://boguvusudhusqvwhgywu.supabase.co"
SUPABASE_ANON_KEY="sb_publishable_l4JITSprYoWVR718qb0aXA_eTk8eVSz"
VITE_SUPABASE_URL="https://boguvusudhusqvwhgywu.supabase.co"
VITE_SUPABASE_ANON_KEY="sb_publishable_l4JITSprYoWVR718qb0aXA_eTk8eVSz"
NEXT_PUBLIC_SUPABASE_URL="https://boguvusudhusqvwhgywu.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_l4JITSprYoWVR718qb0aXA_eTk8eVSz"

GOOGLE_CLIENT_ID="220771370208-32kn8rjcnifdvs4mqnscl1kb1p7qun51.apps.googleusercontent.com"
VITE_GOOGLE_CLIENT_ID="220771370208-32kn8rjcnifdvs4mqnscl1kb1p7qun51.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"

FACEBOOK_APP_ID="2090067485183087"
FACEBOOK_APP_SECRET="4a608bbebea86ff38d3b3cd50b14976f"
VITE_FACEBOOK_APP_ID="2090067485183087"
VITE_FACEBOOK_APP_SECRET="4a608bbebea86ff38d3b3cd50b14976f"

VITE_YOUTUBE_API_KEY="AIzaSyCdm7wKiDqFjMbThMSAbriAuqMUf-sbQlw"
VITE_JAMENDO_CLIENT_ID="158909bb"
VITE_JAMENDO_CLIENT_SECRET="6e15bb060e42338e3284d072a28219aa"
PUBLIC_TMDB_V3_KEY="9a91802d06a7e6310a47dd35367746f6"
OPENSUBTITULE_API_KEY="r2aPAZ27HHd0WoMg5xePmFC0Pu635w8x"

STRIPE_SECRET_KEY="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"
STRIPE_PUBLIC_KEY="pk_live_51TGh3AGl3tZIdeKomZiLFROtFJXHH8ZQfofkEe8Go0rhwK2VKP3KcIB21BaHP730kwOyKrSfuoKXKNdygnGVJs5C00s6owh9Po"
MERCADO_PAGO_PUBLIC_KEY="APP_USR-65e1daa2-4ab7-4862-8023-cd96988587a1"
MERCADO_PAGO_ACCESS_TOKEN="APP_USR-1445047814970925-050419-29e3ecbe1f16555823c1c39c2da6c483-3377572817"

CLOUDFLARE_ACCOUNT_ID="d2e0bfbf3bcff26c1e156bfa476129cf"
CLOUDFLARE_API_TOKEN="cfat_4IXyfS0sm7g9EQjZsvHCD3Ei5yJOxdnkC8UpEJVAbd8bfce8"

LIVEKIT_URL="wss://invis-giwymy12.livekit.cloud"
LIVEKIT_API_KEY="APIPWQ6SA4s688d"
LIVEKIT_API_SECRET="eiK4iQYuqYtpfNSg3eaIfCurf5RtIDFIJWt3CTLGffab"
VITE_LIVEKIT_URL="wss://invis-giwymy12.livekit.cloud"
VITE_LIVEKIT_API_KEY="APIPWQ6SA4s688d"
VITE_LIVEKIT_API_SECRET="eiK4iQYuqYtpfNSg3eaIfCurf5RtIDFIJWt3CTLGffab"

APP_URL="https://inviscore.com"
